In [1]:
#Impoartar librerias para procesar información (Dataset y funciones de limpieza)
import pandas as pd
from limpieza import * #Se importan las funciones para la limpieza del Dataset desde otro archivo.

#Cargar dataset al proyecto de Python.
df = pd.read_csv("datos/tmdb_5000_movies.csv")
df.head()

#PARTE 2 IMPRIME:
# A) Columnas del dataset.
print("Las columnas del Dataset son: ")
print(df.columns, "\n\n")

# B) Número de películas registradas.
df.info()

# C) Valores nulos por columna
print("\n\n",df.isnull().sum())

Las columnas del Dataset son:
Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB


 budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [2]:
#PARTE 3 DEL EJERCICIO
import json

df["genres"] = df["genres"].apply(lambda x: json.loads(x))
df["n_generos"] = df["genres"].apply(lambda g: len(g))
df["lista_generos"] = df["genres"].apply(lambda g: [d["name"] for d in g])

In [3]:
df[['original_title', 'lista_generos']].head()

,original_title,lista_generos
0,Avatar,"[Action, Adventure, Fantasy, Science Fiction]"
1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]"
2,Spectre,"[Action, Adventure, Crime]"
3,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]"
4,John Carter,"[Action, Adventure, Science Fiction]"

In [4]:
#PARTE 3 DEL EJERCICIO
#Función para convertir la fecha de lanzamiento a formato DateTime
from limpieza import *
    
df = date_convert(df)
df['release_date'].dt.year

df = limpiar_presupuesto_ingresos(df)
df['presupuesto_conocido'].head()

df = calculate_roi(df)
df['roi'].head()

df = extraer_año(df)
df['year'].head()

0    2009.0
1    2007.0
2    2015.0
3    2012.0
4    2012.0
Name: year, dtype: float64

In [8]:
#PARTE 4 DEL EJERCICIO
#¿Cuáles son las 5 películas con mayor ROI?
df[['original_title', 'roi']].sort_values(by='roi', ascending=False).head(5)

               original_title           roi
4238             Modern Times  8.500000e+06
3137                Nurse 3-D  1.000000e+06
4577      Paranormal Activity  1.289039e+04
4582                Tarnation  5.330339e+03
4496  The Blair Witch Project  4.133333e+03

In [11]:
#¿Cuántas películas se estrenaron por año.
df.groupby('year')['original_title'].count()

year
1916.0      1
1925.0      1
1927.0      1
1929.0      2
1930.0      1
         ...
2013.0    231
2014.0    238
2015.0    216
2016.0    104
2017.0      1
Name: original_title, Length: 90, dtype: int64

In [22]:
#¿Cuáles son los 3 años con más películas sin ingresos?
condicion = df['ingresos_conocidos'] == False #Condición para obtener filas con ingresos igual a cero
sin_ingresos = df[condicion] 
sin_ingresos['year'].value_counts().head(3)

year
2014.0    95
2015.0    90
2009.0    86
Name: count, dtype: int64

In [28]:
#¿Qué películas tienen budget muy alto pero ROI negativo?
print("Las películas con mayor budget y menor ROI son:")
df[['original_title', 'budget', 'roi']].sort_values(by=['roi', 'budget'], ascending=[True, False]).head(15)

Las películas con mayor budget y menor ROI son:

            original_title     budget  roi
135            The Wolfman  150000000  0.0
1652  Dragonball Evolution  100000000  0.0
376                Volcano   90000000  0.0
467       Mighty Joe Young   90000000  0.0
471           Little Nicky   85000000  0.0
309        Son of the Mask   84000000  0.0
433                  RED 2   84000000  0.0
780                   Edtv   80000000  0.0
845               Instinct   80000000  0.0
518       Inspector Gadget   75000000  0.0
536      Anna and the King   75000000  0.0
2049       Dudley Do-Right   70000000  0.0
648        Mona Lisa Smile   65000000  0.0
656         Primary Colors   65000000  0.0
660          Proof of Life   65000000  0.0

In [35]:
#Guarda un archivo movies_clean.csv con las columnas: title, release_date, budget, revenue, roi, year y lista_generos.
import os

if not os.path.exists('movies_clean.csv'):
    df[['original_title', 'release_date', 'budget', 'revenue', 'roi', 'year', 'lista_generos']].to_csv("movies_clean.csv", index=False)
else:
    answ = input('Deseas sobreescribir el archivo? y/n: ')
    if answ == 'y' or answ == 'yes':
        df[['original_title', 'release_date', 'budget', 'revenue', 'roi', 'year', 'lista_generos']].to_csv("movies_clean.csv", index=False)
        print("Archivo actualizado correctamente!!!!")

Deseas sobreescribir el archivo? y/n:  y

Archivo actualizado correctamente!!!!